.centered-text {
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.file-container {
    padding: 10px;

    border-style: solid;
    border-radius: 5px;
    border-color: #79ccff;

    background-color: #c6e9ff;

    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    width: 350px;
    height: 50px;

}

label {
    margin-right: 10px;
    font-size: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label:hover {
    background-color: #8fc0ef;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type="file"] {
    display: none;
}

.file {
    display: inline-block;
    cursor: pointer;
}

#submit-btn {
    width: 350px;
    height: 50px;
    border-radius: 4px;
    border: solid #dbdbdb;

    background-color: #f7f7f7;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submit-btn:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box {
    margin-top: 40px;
    background-color: #f7f7f7;
    border: solid #dbdbdb;
    width: 350px;
    height: 350px;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box h5{
    padding-top: 30px;
    text-align: center;
}

select {
    border-radius: 4px;
    width: 350px;
    height: 50px;
    text-align-last:center;
    border-color: #cec83b;
    background-color: #fffcba;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.5s;
}

#submit-btn, .file-container {
    transition-duration: 0.3s;
}

select * {
    background-color: white;
}

select:hover {
    cursor: pointer;
    background-color: #f9f572;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    margin-top: 100px;
    position: absolute;
    left: 0;
    bottom: -10;
    width: 100%;
    background-color: #f7f7f7;
    color: black;
    text-align: center;
    min-height: 310px;
    font-size: 14px;
}

#info {
    background-color: #c6e9ff;
    min-height: 300px;
    margin-bottom: 70px;
}

#info-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 60%;
}

th, td {
    padding: 15px;
    text-align: left;
}

#transaction-table {
    width: fit-content;
}

#tx-count {
    margin-top: 40px;
}

#explanation-text {
    position: absolute;
    color: gray;
    bottom: 0px;
}

.about {
    margin-top: 40px;
    margin-left:20px;
    margin-right: 20%;
}

#file-info {
    margin-bottom: 40px;
}

#logo {
    height: 60px;
}

#generic-info
{
    border-radius: 5px;
    background-color: white;
    border: 0px;
    height: 40px;
    width: 40px;
    bottom: 53px;
    right: 70px;
    position: absolute;
    transition-duration: 0.5s;

}

#generic-info:hover {
    cursor: pointer;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #c6e9ff;

}